/* 
    General Styles
*/
.scrolling-wrapper{
    overflow-x: auto;
    scrollbar-color: #f9307b;
   background-color:#f8f9fa;
 } 

h1{color: #f9307b;}

.footer{
    margin-top: "20%"
}

/*.card-img-top{
    height: 250px;
    width: 250px;
}*/

.card-img-top {
   height: 300px;
}

/*.card-body{
    flex-grow:0;
}*/

